* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  align-items: center;
}

.logo {
  width: 100px;
  height: auto;
  padding: 1em;
}

header nav {
  float: right;
  background-color: aqua;
  flex: 1;
}

header nav ul {
  display: flex;
  list-style: none;
  text-align: end;
}

header nav ul li {
  padding: 1em;
}